.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-row {
  min-height: 64px;
  padding: 8px 24px 0;
}

.full-width {
  width: 100%;
}

.mat-mdc-paginator {
  background: transparent;
}

/* row selection styles */
.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
  background-color: #efefef;
}

.selected {
  font-weight: 500;
  background-color: #efefef;
}
