// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.all-component-typographies();
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$lemon-mart-primary: mat.define-palette(mat.$green-palette, 800);
$lemon-mart-accent: mat.define-palette(mat.$lime-palette, A400);

// The warn palette is optional (defaults to red).
$lemon-mart-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$lemon-mart-theme: mat.define-light-theme(
  (
    color: (
      primary: $lemon-mart-primary,
      accent: $lemon-mart-accent,
      warn: $lemon-mart-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// create a dark theme
$lemon-mart-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $lemon-mart-primary,
      accent: $lemon-mart-accent,
      warn: $lemon-mart-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

.dark-theme {
  @include mat.all-component-colors($lemon-mart-dark-theme);
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($lemon-mart-theme);
@include mat.strong-focus-indicators-theme($lemon-mart-theme);
