<div fxLayout="row" fxLayoutAlign="end">
  <mat-slide-toggle
    [checked]="demoViewDetailsColumn()"
    (change)="demoViewDetailsColumn.set($event.checked)">
    Demo 'View Details' Column
  </mat-slide-toggle>
</div>
<div class="filter-row">
  <form style="margin-bottom: 32px">
    <div fxLayout="row">
      <mat-form-field class="full-width">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="Search" aria-label="Search" [formControl]="search" />
        <mat-hint>Search by e-mail or name</mat-hint>
        @if (search.invalid) {
          <mat-error> Type more than one character to search </mat-error>
        }
      </mat-form-field>
    </div>
  </form>
</div>
<div class="mat-elevation-z8">
  @if (isLoading) {
    <div class="loading-shade">
      <mat-spinner></mat-spinner>
    </div>
  }
  @if (hasError) {
    <div class="error">
      {{ errorText }}
    </div>
  }
  <mat-table
    class="full-width"
    [dataSource]="items$"
    matSort
    matSortActive="name"
    matSortDirection="asc"
    matSortDisableClear>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.fullName }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.email }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Role</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.role }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="_id">
      <mat-header-cell *matHeaderCellDef>View Details</mat-header-cell>
      <mat-cell *matCellDef="let row" style="margin-right: 8px">
        <button
          mat-icon-button
          [routerLink]="[
            '../users',
            { outlets: { detail: ['user', { userId: row._id }] } }
          ]"
          [skipLocationChange]="true">
          <mat-icon>visibility</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns()"></mat-header-row>
    <mat-row
      matRipple
      (click)="selectedRow = row; demoViewDetailsColumn() ? 'noop' : showDetail(row._id)"
      [class.selected]="selectedRow === row"
      *matRowDef="let row; columns: displayedColumns()"></mat-row>
  </mat-table>

  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button (click)="refresh$.next()">
        <mat-icon title="Refresh">refresh</mat-icon>
      </button>
      <span class="flex-spacer"></span>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [length]="resultsLength">
      </mat-paginator>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
