<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="400px">
    <mat-card-header>
      <mat-card-title>
        <div class="mat-headline">Hello, Limoncu!</div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <mat-icon>email</mat-icon>
          <mat-form-field fxFlex>
            <input matInput placeholder="E-mail" aria-label="E-mail"
              formControlName="email" #email />
            <mat-error [input]="email" [group]="loginForm" appFieldError="invalid">
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <mat-icon matPrefix>vpn_key</mat-icon>
          <mat-form-field fxFlex>
            <input matInput placeholder="Password" aria-label="Password" type="password"
              formControlName="password" #password />
            <mat-hint>Minimum 8 characters</mat-hint>
            <mat-error [input]="password" [group]="loginForm"
              [appFieldError]="['required', 'minlength', 'maxlength']">
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" class="margin-top">
          <div *ngIf="loginError" class="mat-caption error">{{ loginError }}</div>
          <div class="flex-spacer"></div>
          <button mat-raised-button type="submit" color="primary"
            [disabled]="loginForm.invalid">
            Login
          </button>
        </div>
      </form>
    </mat-card-content>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <span>Authentication Mode: </span><i>{{ authMode }}</i>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px"
        *ngIf="authMode !== AuthMode.InMemory">
        <span>Demo Credentials: </span><button mat-button
          (click)="this.loginForm.patchValue({ email: 'duluca@gmail.com', password: 'l0l1pop!!' })">Fill</button>
      </div>
      <mat-accordion *ngIf="authMode === AuthMode.InMemory">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Fake Login Info
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-grid-list cols="3" rowHeight="48px" role="list">
            <mat-grid-tile [colspan]="3" role="listitem" style="background: pink">
              Use any 8 character string as password
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-grid-tile-header>Role</mat-grid-tile-header>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2">
              <mat-grid-tile-header>E-mail</mat-grid-tile-header>
            </mat-grid-tile>
            <div *ngFor="let role of roles; odd as oddRow">
              <mat-grid-tile role="listitem"
                [style.background]="oddRow ? 'lightGray': 'white'">
                {{role}}
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" role="listitem"
                [style.background]="oddRow ? 'lightGray': 'white'">
                <div fxFlex fxLayoutAlign="end center">
                  <div *ngIf="role.toLowerCase() === 'none'; else otherRoles">
                    Any @test.com email
                  </div>
                  <ng-template #otherRoles>{{role.toLowerCase()}}@test.com</ng-template>
                  <button mat-button (click)="
                      this.loginForm.patchValue(
                        { email: role.toLowerCase() + '@test.com', password: 'whatever' }
                      )">
                    Fill
                  </button>
                </div>
              </mat-grid-tile>
            </div>
          </mat-grid-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
